{% extends 'myapp/base.html' %}

{% block container %}
<div class="container">
    <table class="table">
        <tr>

            <th>Pname</th>
            <th>Pcategory</th>
            <th>Price</th>
            <th>Date</th>
            <th>Image</th>
        </tr>
        {% for x in data %}
            <tr>

                <td>{{x.pname}}</td>
                <td>{{x.pcat}}</td>
                <td>{{x.pprice}}</td>
                <td>{{x.pdate}}</td>
                <td><img src="/media/{{x.pimage}}" width="100" height="100"></td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
